html {
  background-color: #98a7b6;
  font-size: 1em;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

button {
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 1px;
  background-color: silver;
}

#clock {
  font-size: 4rem;
  text-align: center;
  border-radius: 20px;
  padding: 1pc;
}

@media (min-width: 1100px) {
  h1 {
    font-size: 4rem;
  }
  #clock {
    font-size: 8rem;
  }
  button {
    font-size: 2rem;
  }
}
